body{
  background:#D1CA7E;
}
.container {
  //display: block;
  //margin: 180px auto;
  //width: 60%;
 
    background-color: #4A5E82;
  margin: 0px auto;
  padding: 0px;
  max-width: 700px;
}
h1 {
  font-size: 2.5em;
  font-weight:bold; 
}
#header{
  //text-align: left;
  //padding-left:38px;
  
  background:#9A8288;
  
  padding: 9px 0 3px 0;
  margin: 0px 0px 22px 0px;
}
.searchContainer {
  //margin-top: 54px;

}
.searchResultsContainer {
  width: 100%;
  padding: 38px;
  //background: rgb(250, 250, 250);
  background: #C5C5C5;
  border-left: 5px solid transparent;
  border-radius: 5px;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.5);
}

.searchResultsContainer:hover {
  border-left: 5px solid #CF9840;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
}
img{
  width: 55px;
  border-radius: 30px;
  border: 3px solid rgb(250, 250, 250);
}

.row {
  margin: 2px 0px;
  padding: 5px;
  line-height: 50px;
}

#nameS, #streaming {
  font-weight:bold; 
  //font-size:150%; 
  //margin-bottom:100px;
  
  line-height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    margin: 10px auto;
  }
  
  #nameS, #streaming {
    line-height: 50px;
    height: 50px;
  }
  
  #header {
    padding-left: 65px;
  }
}


